REPO_PROJECT_NAME=retail-pulse-analytics


# GCP Project Configuration
GCP_PROJECT_ID=your-project-id-here
GCP_REGION=us-central1

# Terraform Infrastructure
TF_STATE_BUCKET=your-unique-tf-state-bucket-name
TF_SA_EMAIL=terraform-service-account@your-project.iam.gserviceaccount.com

# BigQuery Dataset Names (The Medallion Layers)
BQ_DATASET_BRONZE=liquor_bronze
BQ_DATASET_SILVER=liquor_silver
BQ_DATASET_GOLD=liquor_gold

# Storage Buckets
GCS_RAW_DATA_BUCKET=${GCP_PROJECT_ID}-liquor-raw
