# ==============================================================================
# REQUIRED SETUP (TODO)
# Fill these values before running the project
# ==============================================================================

# GCP Project
GCP_PROJECT_ID=your-project-id-here

# Terraform State (must be globally unique)
TF_STATE_BUCKET=your-unique-tf-state-bucket-name

# Service Account (used for Terraform + impersonation)
TF_SA_EMAIL=terraform-service-account@your-project.iam.gserviceaccount.com

# DLT DESTINATION CONFIG
DESTINATION__FILESYSTEM__BUCKET_URL=gs://your-bucket-name
DESTINATION__GCS__BUCKET_URL=gs://your-bucket-name
DESTINATION__GCS__CREDENTIALS__PROJECT_ID=your-project-id
DESTINATION__GCS__CREDENTIALS__IMPERSONATE_SERVICE_ACCOUNT=your-sa@project.iam.gserviceaccount.com

# DATA SOURCE CONFIG (Iowa Liquor API)
SOURCES__IOWA_LIQUOR__API_KEY=your_app_token_here

#================================================================================

# DEFAULT CONFIGURATION (Safe to keep as-is)

# GCP Region
GCP_REGION=us-central1

# Project Naming
REPO_PROJECT_NAME=retail-pulse-analytics



# DATA WAREHOUSE CONFIG (BigQuery + Storage)
# BigQuery Dataset Names (Medallion Architecture)
BQ_DATASET_BRONZE=liquor_bronze
BQ_DATASET_SILVER=liquor_silver
BQ_DATASET_GOLD=liquor_gold
BQ_DATASET_SNAPSHOTS=liquor_snapshots

# Storage Buckets
GCS_RAW_DATA_BUCKET=${GCP_PROJECT_ID}-liquor-raw



# DATA SOURCE CONFIG (Iowa Liquor API)
DATA_SOURCE_URL=https://data.iowa.gov/api/v3/views/m3tr-qhgy/query.json
IOWA_API_PAGE_LIMIT=50000
SOURCES__IOWA_LIQUOR__API_KEY=${SOURCES__IOWA_LIQUOR__API_KEY}



# INCREMENTAL / BACKFILL CONFIG
IOWA_LIQUOR_INITIAL_VALUE=2025-01-01T00:00:00
IOWA_LIQUOR_END_VALUE=2025-07-01T00:00:00




# ORCHESTRATION (Dagster)
# Dagster UI persistent storage
DAGSTER_HOME=/workspaces/retail-pulse-analytics/orchestration/dagster_project
