
# GCP Project Configuration
GCP_PROJECT_ID=your-project-id-here
GCP_REGION=us-central1

# Terraform Infrastructure
TF_STATE_BUCKET=your-unique-tf-state-bucket-name
# Master service account (create yours)
TF_SA_EMAIL=terraform-service-account@your-project.iam.gserviceaccount.com

# BigQuery Dataset Names (The Medallion Layers)
BQ_DATASET_BRONZE=liquor_bronze
BQ_DATASET_SILVER=liquor_silver
BQ_DATASET_GOLD=liquor_gold

# Storage Buckets
GCS_RAW_DATA_BUCKET=${GCP_PROJECT_ID}-liquor-raw

# ------------------------------------------------------------------------------
REPO_PROJECT_NAME=retail-pulse-analytics

# Data source config
DATA_SOURCE_URL=https://data.iowa.gov/api/v3/views/m3tr-qhgy/query.json
IOWA_API_PAGE_LIMIT=50000
SOURCES__IOWA_LIQUOR__API_KEY=your_app_token_here

# Incremental/Backfill Controls
IOWA_LIQUOR_INITIAL_VALUE=2023-01-01T00:00:00
IOWA_LIQUOR_END_VALUE=2023-04-01T00:00:00


# Config dlt
DESTINATION__FILESYSTEM__BUCKET_URL=gs://your-bucket-name
DESTINATION__GCS__BUCKET_URL=gs://your-bucket-name
DESTINATION__GCS__CREDENTIALS__PROJECT_ID=your-project-id
DESTINATION__GCS__CREDENTIALS__IMPERSONATE_SERVICE_ACCOUNT=your-sa@project.iam.gserviceaccount.com

# -----------------------------------------------------------------------

# Dagster UI persisting log
DAGSTER_HOME=/workspaces/retail-pulse-analytics/orchestration/dagster_project
