# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

*.egg-info/
dist/
build/
*.pyc

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Cython debug symbols
cython_debug/

# UV / Python packaging
__pypackages__/


# Local state and bootstrap markers
log/
data/
*.log
.bootstrap_done
*/.bootstrap_done

# Local .terraform directory
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Variables and secrets
*.tfvars
*.tfvars.json

# Sensitive vars
terraform/temp.auto.tfvars
terraform/tfplan

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

terraform.rc
.terraformrc

# VS Code
.vscode/

# Ignore all JSON files
*.json

# Exception: Keep devcontainer JSON
!.devcontainer/devcontainer.json


# dlt
*.dlt/secrets.toml

# Dagster metadata and local storage
.dagster/
storage/
dagster_storage/
**/storage/
**/dagster_storage/

# Dagster Telemetry
.telemetry/
**/.telemetry/

# Local logs and run history
*.log
logs/
**/logs/

# SQLite databases created by Dagster
*.db
*.sqlite

# dbt
~/.dbt/profiles.yml
target/
dbt_packages/

# Mac / Windows junk
.DS_Store
Thumbs.db

