# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Cython debug symbols
cython_debug/

# UV / Python packaging
__pypackages__/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# VS Code (optional to include in repo for Codespaces)
.vscode/

# Ignore all JSON files
*.json

# Exception: Keep devcontainer JSON
!.devcontainer/devcontainer.json

# Mac / Windows junk
.DS_Store
Thumbs.db
